<script src="~/Module/Map/View/JS/mapController.js"></script>
<link rel="stylesheet" href="~/Module/File/View/CSS/File.css">
<div id="map" class="map"></div>

<div id="popup" class="ol-popup">
    <a href="#" id="popup-closer" class="ol-popup-closer"></a>
    <div id="popup-content">
        <div class="popup-slider"></div>
        <table class="popup-userInfo">
            <tr>
                <td class="popup-userName"></td>
                <td class="popup-userSoname"></td>
            </tr>
            <tr>
                <td class="popup-userPhone"></td>
                <td class="popup-userPrice"></td>
            </tr>
            <tr>
                <td colspan="2" class="popup-userDescription"></td>
            </tr>
        </table>
    </div>
</div>
