<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Database.Properties.Settings.LearnDBConnectionString"
            connectionString="Data Source=DESKTOP-MRS7EUR;Initial Catalog=LearnDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Database.Properties.Settings.LearnDBConnectionString1"
            connectionString="Data Source=BTF_EMIL;Initial Catalog=LearnDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>